* {
  box-sizing: border-box !important;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1 {
  font-size: 30px !important;
  line-height: 1.2 !important;
  letter-spacing: 1px !important;
  font-weight: 900 !important;
}
@media (min-width: 640px) {
  h1 {
    font-size: 50px !important;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}
h2 {
  font-weight: 800 !important;
  font-size: 25px !important;
  line-height: 1.25 !important;
}
@media (min-width: 640px) {
  h2 {
    font-size: 45px !important;
  }
}
h3 {
  font-weight: 800 !important;
  font-size: 20px !important;
  line-height: 1.25 !important;
}
@media (min-width: 640px) {
  h3 {
    font-size: 28px !important;
  }
}
p {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 1.25 !important;
}
@media (min-width: 640px) {
  p {
    font-weight: 500 !important;
    font-size: 16px !important;
  }
}
label {
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 1.25 !important;
}
@media (min-width: 640px) {
  label {
    font-size: 20px !important;
  }
}

.margin-x {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
@media (min-width: 640px) {
  .margin-x {
    margin-left: 62px !important;
    margin-right: 62px !important;
  }
}
@media (min-width: 768px) {
  .margin-x {
    margin-left: 104px !important;
    margin-right: 104px !important;
  }
}
@media (min-width: 1024px) {
  .margin-x {
    margin-left: 146px !important;
    margin-right: 146px !important;
  }
}
@media (min-width: 1280px) {
  .margin-x {
    margin-left: 188px !important;
    margin-right: 188px !important;
  }
}

.bg-image {
  background-image: url("IMG/home/main.jpg");
}

.nav::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s, left 0.3s;
  position: relative;
  bottom: 0;
  left: 50%; /* Start from the center */
}

.nav:hover::after {
  width: 100%;
  left: 0;
}

.social img {
  filter: contrast(125%);

  /* background-color: white; */
}

/* .anim1,
.anim2,
.anim3 {
  overflow-x: hidden;
  overflow-y: hidden;
} */
